- if request.pending?
  = button_to t("admin.request.view.approve"), review_manager_request_path(request.id), method: :patch, class: "btn btn-success btn-sm mb-2"
  = button_to t("admin.request.view.rejected"), rejected_manager_request_path(request.id), method: :patch, class: "btn btn-danger btn-sm"
