= area_chart @count_range, id: SecureRandom.hex(7),height: "450px",
                          xtitle: t("admin.chart.area_x"), ytitle: t("admin.chart.area_y"),
                          messages: {empty: t("admin.chart.no_data")},
                          title: t("admin.chart.title_area")
