= content_for :breadcrumbs, [[t("admin.br.income"), manager_incomes_path], [@income.user_name, manager_income_path(@income)], t("admin.br.edit")]
- provide :btn_text, t("income.view.btn_edit")
= render "form"
