= content_for :breadcrumbs, [[t("admin.br.request"), admin_requests_path], [@request.user_name, admin_request_path(@request)], t("admin.br.edit")]
- provide :btn_text, t("admin.request.view.btn_edit")
= render "form"
