@import 'color';

// request

.stt-badge {
  .badge {
    color: $while;
    width: 80px;
  }

  .stt-pending {
    background: $yelow-ff;
  }

  .stt-approve {
    background: $green-28;
  }

  .stt-rejected {
    background: $red-bd;
  }

  .stt-paid {
    background: $blue-00;
  }
}

.tr-request {
  height: 95px;

  @extend .stt-badge;
}

.action-request, .action-income {
  .btn {
    width: 85px !important;
  }
}

// modal-user
.modal {
  overflow-x: hidden;
  overflow-y: auto;
}

.body.modal-open {
  overflow-y: hidden;
}

.new-modal-title {
  font-size: 27px;
  margin: 0;
}

.modal-dialog {
  .confirm-change-status {
    width: 80%;
  }

  .edit-attachment-request {
    margin: auto;
    width: 80%;
  }

  .modal-content {
    .modal-body-request-history.modal-body {
      padding-top: 0;
    }

    .modal-body-supplier.modal-body {
      padding-top: 0;
    }
  }
}

.new-supplier-modal-title {
  margin-bottom: 0;
}

// index
.chart-pie {
  min-height: 320px;
}
