$red: red;
$red-bd: #bd2130;
$blue-00: #0069d9;
$green-28: #28a745;
$green-5f: #5fcf80;
$green-bc: #bcdfc7;
$yelow-ff: #ffc107;
$black-rgba: rgba(42, 35, 35, 0.2);
$while-f5: #f5f5f5;
$while-f4: #f4f6f9;
$while: white;
$black-rgba1: rgba(0,0,0,0.2);
$black: black;
$blue-4d: #4d7892;
