@import 'admin-lte/dist/css/adminlte';
$fa-font-path: '@fortawesome/fontawesome-free/webfonts';
@import '@fortawesome/fontawesome-free/scss/fontawesome';
@import '@fortawesome/fontawesome-free/scss/solid';
@import '@fortawesome/fontawesome-free/scss/regular';
@import '@fortawesome/fontawesome-free/scss/brands';
@import '@fortawesome/fontawesome-free/scss/v4-shims';
@import 'color';

// common
.pt-6 {
  padding-top: 60px;
}

.cursor-p {
  cursor: pointer;
}

.with-300 {
  width: 300px;
}

.with-80 {
  width: 80px;
}

// breadcrumbs
#breadcrumb {
  padding-top: 55px;
  background-color: $while-f4;

  .breadcrumb {
    background-color: $while-f4;
  }
}
