@import 'toastr/build/toastr.min';
@import 'admin-lte/dist/css/adminlte';
$fa-font-path: '@fortawesome/fontawesome-free/webfonts';
@import '@fortawesome/fontawesome-free/scss/fontawesome';
@import '@fortawesome/fontawesome-free/scss/solid';
@import '@fortawesome/fontawesome-free/scss/regular';
@import '@fortawesome/fontawesome-free/scss/brands';
@import '@fortawesome/fontawesome-free/scss/v4-shims';
@import 'color';

// common
.pt-6 {
  padding-top: 60px;
}

.cursor-p {
  cursor: pointer;
}

.with-200 {
  width: 200px;
}

.with-300 {
  width: 300px;
}

.with-80 {
  width: 80px;
}

.with-10 {
  width: 10%;
}

.with-15 {
  width: 15%;
}

.with-20 {
  width: 20%;
}

.with-25 {
  width: 25%;
}

// breadcrumbs
#breadcrumb {
  padding-top: 55px;
  background-color: $while-f4;

  .breadcrumb {
    background-color: $while-f4;
  }
}
