@import 'color';
// side bar
.slimScrollDiv {
  position: relative;
  overflow: hidden;
  width: auto;
  height: 652px;

  .sidebar {
    min-height: 652px;
    overflow: hidden;
    width: auto;
    height: 652px;
  }
}

// header
.navbar-nav .icon-lg {
  padding-top: 7px;
}

.w-500 {
  width: 350px;
}

.dropdown-menu-lg {
  max-width: 350px;
  min-width: 280px;
  padding: 0;
}

.unread {
  background-color: $green-bc;
}

.notifications {
  list-style-type: none;
  max-height: 200px;
  overflow: scroll;
  overflow-x: hidden;
  padding-left: 0;
}
