@import 'color';

// show
aside {
  section.user_info {
    margin-top: 20px;
  }

  section {
    padding: 10px 0;
    margin-top: 20px;

    &:first-child {
      border: 0;
      padding-top: 0;
    }

    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }

    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}

// form
.bg-form {
  padding: 20px;
  box-shadow: 0 16px 50px 0 $black-rgba;
  background-color: $while-f5;
  padding-bottom: 20px;
  overflow-x: auto;

  table.min-width {
    min-width: 1400px
  }

  abbr {
    color: $red;
  }
}
